[submodule "submodules/vk-bootstrap"]
	path = submodules/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/lz4"]
	path = submodules/lz4
	url = https://github.com/lz4/lz4
[submodule "submodules/meshoptimizer"]
	path = submodules/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Deps/ImGuizmo"]
	url = https://github.com/CedricGuillemet/ImGuizmo
